<html>
  <head>
    <title>The Gossip Project</title>
  </head>
    <body>
      <h1>Mon super site de gossip, depuis le dossier views !</h1>
        <h2>PAGE POTIN</h2>
	       <p>Voici la page du potin n°<%=params[:id]%></p>
              <ul> Son auteur : <%= find_gossip.author %><br/>
	               Le contenu du potin :  <%= find_gossip.content %>
              </ul>

					Lien pour revenir à la page des potins. Cliquer  <a href="http://localhost:4567/">ici</a>
    </body>
</html>
      
      
   